<div class="Thruster-container" *ngIf="thruster !== undefined; else error">
  <h1>{{thruster.name}}</h1>
  <div>
    <mat-slide-toggle [(ngModel)]="thruster.powerOn" (change)="onThrusterChange()"></mat-slide-toggle>
    <span>Power state: {{thruster.powerOn ? 'On' : 'Off'}}</span>
  </div>
  <p>Thrust: {{thruster.thrust}} MW</p>
  <p>Tank: {{thruster.tank.currentLevel / thruster.tank.capacity * 100}} %</p>
</div>

<ng-template #error>
  <div class="Thruster-container Error">
    <h1>Thruster not found</h1>
  </div>
</ng-template>
